<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href=
"https://fonts.googleapis.com/icon?family=Material+Icons&display=block" 
        rel="stylesheet">
<body class="home">
  <mat-card class="background">
<div class="POS"ng-app="">
<div class="POS2">
  <div class="Head">LOGIN</div>
  <p>Sign in to your account</p>
</div>
  <p class="Label">Username<mat-icon class="InfoIcon">info</mat-icon></p>
  <form><div class="LoginIcon">
    <mat-icon class="icon">account_box</mat-icon>
<input type="text" placeholder="Username">
</div>
</form>
<p></p>
  <p class="Label">Password<mat-icon class="InfoIcon">info</mat-icon></p>
  <form><div class="LoginIcon"><mat-icon class="icon">https</mat-icon>
    <input type="password">
  </div>
</form>
  <div class="ex2"><div></div>
  <p class="Ver">LOGIN</p>
  <mat-icon class="Arrow">arrow_right_alt</mat-icon>
</div>
<div class="Foot"><mat-icon class="InfoIcon">help_outline</mat-icon>Help & Support</div>
</div>
</mat-card>
</body>
</html>