<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href=
"https://fonts.googleapis.com/icon?family=Material+Icons&display=block" 
        rel="stylesheet">
<body class="home">
  <mat-card class="background">
<div class="POS"ng-app="">
<div class="POS2">
  <H1>LOGIN</H1>
  <p></p>
  <p>Sign in to your account</p>
  <p></p>
</div>
  <p>Username</p>
  <div class="Loginicon">
    <mat-icon>account_box</mat-icon>
<input type="text" ng-model="name"></div>
  <p>Password</p>
  <div class="Loginicon"><mat-icon>https</mat-icon><input type="text" ng-model="name"></div>
  <p></p>
  <p><button mat-flat-button class="ex2">LOGIN</button></p>

</div>
</mat-card>
</body>
</html>